{% extends 'base.html' %}
{% load static %}

{% block style %}
    .blog-picture {
        background: url("{{ blog.image.url }}") 50% fixed;
        background-size: cover;
        display: flex;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
    }
    .blog-header {
        background: #2F2FA2;
        padding: 6px;
        border-radius: 8px;
    }
    .blog-content {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        flex-direction: column;
    }
{% endblock %}

{% block content %}
    <div class='blog-picture'>
        <div class="blog-header">
            <h1 style="color: white;">{{ blog.title }}</h1>
            <h5 style="color: white;">{{ blog.get_category_display }} blog</h5>
        </div></div>
    <div class='blog-content'>
        {{ blog.text|safe|linebreaks }}
        <p style="float: right; border-top: 1px solid black;">{{ blog.date }}</p>
        <i style="float: right;">{{ blog.user }}</i>
    </div>
{% endblock %}