{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block style %}
    .main {
        background: #2F2FA2;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        justify-content: center;
        text-align: center;
    }
    .btn {
        border: 2px solid #F64C72;
        padding: 6px;
        border-radius: 5px;
        text-decoration: None;
        color: #F64C72;
        font-size: 20px;
        background: #2F2FA2;
    }

    label {
        font-size: 18px;
        color: white;
    }

    .blog-form {
        margin-top: 150px;
    }

    @media screen and (max-width: 600px) {
        .main input {
            width: 315px !important;
        }
    }

    @media screen and (min-width: 600px) {
        .main {
            align-items: center;
        }
    }
{% endblock %}

{% block content %}
    <div class='main'>
        <form method="post" action="{% url 'create_blog_post' %}" class='blog-form' enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form|crispy }}
            <button type="submit" class='btn'>Create post</button>
        </form>
    </div>
{% endblock %}