{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block style %}
    .main {
        background: #2F2FA2;
        display: flex;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .btn {
        border: 2px solid #F64C72;
        padding: 6px;
        border-radius: 5px;
        text-decoration: None;
        color: #F64C72;
        font-size: 20px;
    }

    label {
        font-size: 18px;
        color: white;
    }
{% endblock %}

{% block content %}
    <div class='main'>
        <form method="post" action="{% url 'create_blog_post' %}" style='margin-top: 60px;'>
            {% csrf_token %}
            {{ form.media }}
            {{ form|crispy }}
        </form>
    </div>
{% endblock %}