{% extends 'base.html' %}
{% load static %}

{% block style %}
    .home-tab {
        background: #2F2FA2;
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
    .btn {
        border: 2px solid #F64C72;
        padding: 6px;
        border-radius: 5px;
        text-decoration: None;
        color: #F64C72;
        font-size: 20px;
    }
    
    @media screen and (max-width: 600px) {
        .home-tab {
            flex-direction: column;
        }
    }
{% endblock %}

{% block content %}
    <div class='home-tab'>
        <img src="{% static 'img/logo.png' %}" height="350px;">
        <div>
            <h1 style='color: white;'>Welcome to BlogAPI</h1>
            <a href='#' class='btn'>Create a blog post</a>
            <br>
            <br>
            <a href='#' class='btn'>View API endpoints</a>
        </div>
    </div>
{% endblock %}